FileSets/v3.01/RemoteGPIO.json
[
    {
        "id": "cb7e574f9dbccdf3",
        "type": "tab",
        "label": "RemoteGPIO: Relays 1-8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a648c50e4c852023",
        "type": "tab",
        "label": "RemoteGPIO: Digital Inputs 1-8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a77f29e3f960a9fc",
        "type": "tab",
        "label": "RemoteGPIO: Relais Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c14c767c7bab0530",
        "type": "ui_group",
        "name": "Remote Inputs",
        "tab": "fe96b5b505fa39b7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b7dc32707bc98270",
        "type": "ui_group",
        "name": "Cerbo GX",
        "tab": "fe96b5b505fa39b7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe96b5b505fa39b7",
        "type": "ui_tab",
        "name": "Inputs",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8c6f7c58849bbb2d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "victron-client-id",
        "type": "victron-client"
    },
    {
        "id": "2448a064a5557ac5",
        "type": "ui_group",
        "name": "RGPIO #1",
        "tab": "12a65f5c2118623e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f96f9bcca52f96c0",
        "type": "ui_group",
        "name": "RGPIO #2",
        "tab": "12a65f5c2118623e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a9d0f0d6dc0f0a7e",
        "type": "ui_group",
        "name": "Cerbo GX",
        "tab": "12a65f5c2118623e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "12a65f5c2118623e",
        "type": "ui_tab",
        "name": "Relais",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "17ba0440415cecca",
        "type": "exec",
        "z": "cb7e574f9dbccdf3",
        "command": " /data/rgpio/mod_rgpio",
        "addpay": "",
        "append": "Read_Relay /dev/ttyUSB0",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Read Relays",
        "x": 430,
        "y": 240,
        "wires": [
            [
                "023bd2c310f6b5f1"
            ],
            [
                "979382c7bc861316"
            ],
            [
                "9b276bf57b1b137f"
            ]
        ]
    },
    {
        "id": "023bd2c310f6b5f1",
        "type": "function",
        "z": "cb7e574f9dbccdf3",
        "name": "Clean",
        "func": "if (msg.payload == \"\") {\n  return null; //halt flow if empty\n}\nconst input = {\n        data: [],\n}\ninput.data[0] = Number(msg.payload)\nmsg.payload = input;\n\nif(isNaN(msg.payload.data[0])) {\n  return null; //halt flow if not valid\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 220,
        "wires": [
            [
                "f0d4914408c43598"
            ]
        ]
    },
    {
        "id": "9de87b92a440fc7b",
        "type": "comment",
        "z": "cb7e574f9dbccdf3",
        "name": "Read Remote Relays position",
        "info": "Should read only once at reboot",
        "x": 240,
        "y": 100,
        "wires": []
    },
    {
        "id": "f0d4914408c43598",
        "type": "buffer-parser",
        "z": "cb7e574f9dbccdf3",
        "name": "",
        "data": "payload[\"data\"]",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "8bit",
                "name": "0",
                "offset": 1,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "output",
        "multipleResult": true,
        "fanOutMultipleResult": true,
        "setTopic": false,
        "outputs": 1,
        "x": 910,
        "y": 220,
        "wires": [
            [
                "48e77ec6e1ebb4a0"
            ]
        ]
    },
    {
        "id": "48e77ec6e1ebb4a0",
        "type": "buffer-parser",
        "z": "cb7e574f9dbccdf3",
        "name": "",
        "data": "payload[\"0\"].bits",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "item1",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item2",
                "offset": 3,
                "length": 1,
                "offsetbit": 1,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item3",
                "offset": 5,
                "length": 1,
                "offsetbit": 2,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item4",
                "offset": 7,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item5",
                "offset": 9,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item6",
                "offset": 11,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item7",
                "offset": 13,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item8",
                "offset": 15,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "output",
        "multipleResult": true,
        "fanOutMultipleResult": true,
        "setTopic": true,
        "outputs": 8,
        "x": 1230,
        "y": 220,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "0384d656f7e5654b",
        "type": "comment",
        "z": "cb7e574f9dbccdf3",
        "name": "Write Remote Relays position",
        "info": "",
        "x": 240,
        "y": 460,
        "wires": []
    },
    {
        "id": "f848417ec245b77d",
        "type": "link out",
        "z": "cb7e574f9dbccdf3",
        "name": "link out mod_rgpio",
        "mode": "link",
        "links": [
            "51148ea209719a6b"
        ],
        "x": 1555,
        "y": 540,
        "wires": []
    },
    {
        "id": "5a8a5e04e4bb33d1",
        "type": "exec",
        "z": "cb7e574f9dbccdf3",
        "command": " /data/rgpio/mod_rgpio",
        "addpay": "payload",
        "append": "Write_Relay /dev/ttyUSB0",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Write Relay",
        "x": 1230,
        "y": 520,
        "wires": [
            [
                "418364c5f67c74fe"
            ],
            [
                "7c94ee1b3fde7222"
            ],
            [
                "466307cb09edbe73",
                "f848417ec245b77d"
            ]
        ]
    },
    {
        "id": "466307cb09edbe73",
        "type": "debug",
        "z": "cb7e574f9dbccdf3",
        "name": "debug 42",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 580,
        "wires": []
    },
    {
        "id": "9b276bf57b1b137f",
        "type": "function",
        "z": "cb7e574f9dbccdf3",
        "name": "On-Off Relays1-8",
        "func": "msg.payload = flow.get(\"Relay1\")+flow.get(\"Relay2\")+flow.get(\"Relay3\")+flow.get(\"Relay4\")+flow.get(\"Relay5\")+flow.get(\"Relay6\")+flow.get(\"Relay7\")+flow.get(\"Relay8\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 520,
        "wires": [
            [
                "56b801159233c50f",
                "5a8a5e04e4bb33d1"
            ]
        ]
    },
    {
        "id": "b76336dbb5facb9a",
        "type": "function",
        "z": "cb7e574f9dbccdf3",
        "name": "On-Off Relay1",
        "func": "if (msg.payload == 1) {\n    flow.set(\"Relay1\",257)\n} else {\n    flow.set(\"Relay1\",256)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 640,
        "wires": [
            [
                "648b11a7114a5124"
            ]
        ]
    },
    {
        "id": "648b11a7114a5124",
        "type": "debug",
        "z": "cb7e574f9dbccdf3",
        "name": "debug 43",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 640,
        "wires": []
    },
    {
        "id": "56b801159233c50f",
        "type": "debug",
        "z": "cb7e574f9dbccdf3",
        "name": "debug 44",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 560,
        "wires": []
    },
    {
        "id": "29b467fef11f63ea",
        "type": "function",
        "z": "cb7e574f9dbccdf3",
        "name": "On-Off Relay2",
        "func": "if (msg.payload == 1) {\n    flow.set(\"Relay2\",514)\n} else {\n    flow.set(\"Relay2\",512)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 700,
        "wires": [
            [
                "801f45b5071e2d21"
            ]
        ]
    },
    {
        "id": "801f45b5071e2d21",
        "type": "debug",
        "z": "cb7e574f9dbccdf3",
        "name": "debug 45",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 700,
        "wires": []
    },
    {
        "id": "6951039eb30f8605",
        "type": "function",
        "z": "cb7e574f9dbccdf3",
        "name": "On-Off Relay3",
        "func": "if (msg.payload == 1) {\n    flow.set(\"Relay3\",1028)\n} else {\n    flow.set(\"Relay3\",1024)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 760,
        "wires": [
            [
                "145f6935dcf41380"
            ]
        ]
    },
    {
        "id": "2d9ac15da8e848bf",
        "type": "function",
        "z": "cb7e574f9dbccdf3",
        "name": "On-Off Relay4",
        "func": "if (msg.payload == 1) {\n    flow.set(\"Relay4\",2056)\n} else {\n    flow.set(\"Relay4\",2048)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 820,
        "wires": [
            [
                "28384cdc5b857535"
            ]
        ]
    },
    {
        "id": "145f6935dcf41380",
        "type": "debug",
        "z": "cb7e574f9dbccdf3",
        "name": "debug 46",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 760,
        "wires": []
    },
    {
        "id": "28384cdc5b857535",
        "type": "debug",
        "z": "cb7e574f9dbccdf3",
        "name": "debug 47",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 820,
        "wires": []
    },
    {
        "id": "2f0ac1933cf248b5",
        "type": "link in",
        "z": "cb7e574f9dbccdf3",
        "name": "link in Loop_mod_rgpio",
        "links": [
            "db3df95cacb05830"
        ],
        "x": 285,
        "y": 520,
        "wires": [
            [
                "9b276bf57b1b137f"
            ]
        ]
    },
    {
        "id": "fd4d90979dc96f51",
        "type": "inject",
        "z": "cb7e574f9dbccdf3",
        "name": "Read once at boot",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "17ba0440415cecca",
                "ad068bd505e84cc1"
            ]
        ]
    },
    {
        "id": "979382c7bc861316",
        "type": "debug",
        "z": "cb7e574f9dbccdf3",
        "name": "debug 53",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 320,
        "wires": []
    },
    {
        "id": "ad068bd505e84cc1",
        "type": "exec",
        "z": "cb7e574f9dbccdf3",
        "command": "rm /data/rgpio/mod_rgpio.run",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "delete lock file",
        "x": 440,
        "y": 160,
        "wires": [
            [
                "6075f0e53c7300a4"
            ],
            [
                "ebe235f5a7518a39"
            ],
            [
                "cb8bf9946fdb892a"
            ]
        ]
    },
    {
        "id": "6075f0e53c7300a4",
        "type": "debug",
        "z": "cb7e574f9dbccdf3",
        "name": "debug 55",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 80,
        "wires": []
    },
    {
        "id": "ebe235f5a7518a39",
        "type": "debug",
        "z": "cb7e574f9dbccdf3",
        "name": "debug 56",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "cb8bf9946fdb892a",
        "type": "debug",
        "z": "cb7e574f9dbccdf3",
        "name": "debug 57",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 160,
        "wires": []
    },
    {
        "id": "418364c5f67c74fe",
        "type": "debug",
        "z": "cb7e574f9dbccdf3",
        "name": "debug 58",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 460,
        "wires": []
    },
    {
        "id": "7c94ee1b3fde7222",
        "type": "debug",
        "z": "cb7e574f9dbccdf3",
        "name": "debug 59",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 500,
        "wires": []
    },
    {
        "id": "77692e60a4a75ae6",
        "type": "function",
        "z": "cb7e574f9dbccdf3",
        "name": "On-Off Relay4",
        "func": "if (msg.payload == 1) {\n    flow.set(\"Relay5\",4112)\n} else {\n    flow.set(\"Relay5\",4096)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 880,
        "wires": [
            [
                "f5a3f25ce3de685d"
            ]
        ]
    },
    {
        "id": "747ff1fd1d7c4e9d",
        "type": "function",
        "z": "cb7e574f9dbccdf3",
        "name": "On-Off Relay6",
        "func": "if (msg.payload == 1) {\n    flow.set(\"Relay6\",8224)\n} else {\n    flow.set(\"Relay6\",8192)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 940,
        "wires": [
            [
                "504dfae9ef82d9aa"
            ]
        ]
    },
    {
        "id": "f13b7a55f5e97a07",
        "type": "function",
        "z": "cb7e574f9dbccdf3",
        "name": "On-Off Relay7",
        "func": "if (msg.payload == 1) {\n    flow.set(\"Relay7\",16448)\n} else {\n    flow.set(\"Relay7\",16384)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1000,
        "wires": [
            [
                "0697a06a3a3dc9dd"
            ]
        ]
    },
    {
        "id": "a32b32103560b44b",
        "type": "function",
        "z": "cb7e574f9dbccdf3",
        "name": "On-Off Relay8",
        "func": "if (msg.payload == 1) {\n    flow.set(\"Relay8\",32896)\n} else {\n    flow.set(\"Relay8\",32768)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1060,
        "wires": [
            [
                "dadd160ed90bb0e5"
            ]
        ]
    },
    {
        "id": "5dc5285f6e587793",
        "type": "link in",
        "z": "cb7e574f9dbccdf3",
        "name": "link in 5",
        "links": [
            "e0d58b392861b228"
        ],
        "x": 295,
        "y": 880,
        "wires": [
            [
                "77692e60a4a75ae6"
            ]
        ]
    },
    {
        "id": "7395cced7aed38f0",
        "type": "link in",
        "z": "cb7e574f9dbccdf3",
        "name": "link in 6",
        "links": [
            "c63f155f03a9a89f"
        ],
        "x": 295,
        "y": 940,
        "wires": [
            [
                "747ff1fd1d7c4e9d"
            ]
        ]
    },
    {
        "id": "701f30766efde73d",
        "type": "link in",
        "z": "cb7e574f9dbccdf3",
        "name": "link in 7",
        "links": [
            "0ad47de014e7a526"
        ],
        "x": 295,
        "y": 1000,
        "wires": [
            [
                "f13b7a55f5e97a07"
            ]
        ]
    },
    {
        "id": "a467aff0686b290e",
        "type": "link in",
        "z": "cb7e574f9dbccdf3",
        "name": "link in 8",
        "links": [
            "c43a1fbf0c440de0"
        ],
        "x": 295,
        "y": 1060,
        "wires": [
            [
                "a32b32103560b44b"
            ]
        ]
    },
    {
        "id": "f5a3f25ce3de685d",
        "type": "debug",
        "z": "cb7e574f9dbccdf3",
        "name": "debug 60",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 880,
        "wires": []
    },
    {
        "id": "504dfae9ef82d9aa",
        "type": "debug",
        "z": "cb7e574f9dbccdf3",
        "name": "debug 61",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 940,
        "wires": []
    },
    {
        "id": "0697a06a3a3dc9dd",
        "type": "debug",
        "z": "cb7e574f9dbccdf3",
        "name": "debug 62",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 1000,
        "wires": []
    },
    {
        "id": "dadd160ed90bb0e5",
        "type": "debug",
        "z": "cb7e574f9dbccdf3",
        "name": "debug 63",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 1060,
        "wires": []
    },
    {
        "id": "3f0e02689ada2cbf",
        "type": "link in",
        "z": "cb7e574f9dbccdf3",
        "name": "link in 1",
        "links": [
            "628aeb04d59e3394"
        ],
        "x": 295,
        "y": 640,
        "wires": [
            [
                "b76336dbb5facb9a"
            ]
        ]
    },
    {
        "id": "6eacb1f53458259a",
        "type": "link in",
        "z": "cb7e574f9dbccdf3",
        "name": "link in 2",
        "links": [
            "f59c4076f694ea52"
        ],
        "x": 295,
        "y": 700,
        "wires": [
            [
                "29b467fef11f63ea"
            ]
        ]
    },
    {
        "id": "4d968eac2aadd49a",
        "type": "link in",
        "z": "cb7e574f9dbccdf3",
        "name": "link in 3",
        "links": [
            "664ad89a9b39a00b"
        ],
        "x": 295,
        "y": 760,
        "wires": [
            [
                "6951039eb30f8605"
            ]
        ]
    },
    {
        "id": "234edab72ea1f106",
        "type": "link in",
        "z": "cb7e574f9dbccdf3",
        "name": "link in 4",
        "links": [
            "1a3b1e46672db0c5"
        ],
        "x": 295,
        "y": 820,
        "wires": [
            [
                "2d9ac15da8e848bf"
            ]
        ]
    },
    {
        "id": "2e18c16282f7a423",
        "type": "comment",
        "z": "a648c50e4c852023",
        "name": "Read Remote Digital Input",
        "info": "",
        "x": 190,
        "y": 120,
        "wires": []
    },
    {
        "id": "63dfb77748c8f485",
        "type": "ui_switch",
        "z": "a648c50e4c852023",
        "name": "",
        "label": "Input 1",
        "tooltip": "",
        "group": "c14c767c7bab0530",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1700,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "201a55a9c0ab8023",
        "type": "buffer-parser",
        "z": "a648c50e4c852023",
        "name": "",
        "data": "payload[\"0\"].bits",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "bool",
                "name": "item1",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "bool",
                "name": "item2",
                "offset": 3,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "bool",
                "name": "item3",
                "offset": 5,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "bool",
                "name": "item4",
                "offset": 7,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "bool",
                "name": "item5",
                "offset": 9,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "bool",
                "name": "item6",
                "offset": 11,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "bool",
                "name": "item7",
                "offset": 13,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "bool",
                "name": "item8",
                "offset": 15,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "output",
        "multipleResult": true,
        "fanOutMultipleResult": true,
        "setTopic": true,
        "outputs": 8,
        "x": 1310,
        "y": 340,
        "wires": [
            [
                "63dfb77748c8f485"
            ],
            [
                "6165eb4a0af937e1"
            ],
            [
                "66ac6d3fc7c3bd22"
            ],
            [
                "0543a2fb9212ac50"
            ],
            [
                "7ec47e662d1dbf6c"
            ],
            [
                "19f6e8f564aaae79"
            ],
            [
                "9b2c958d4f03ee73"
            ],
            [
                "da208708153fff09"
            ]
        ]
    },
    {
        "id": "6165eb4a0af937e1",
        "type": "ui_switch",
        "z": "a648c50e4c852023",
        "name": "",
        "label": "Input 2",
        "tooltip": "",
        "group": "c14c767c7bab0530",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1700,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "66ac6d3fc7c3bd22",
        "type": "ui_switch",
        "z": "a648c50e4c852023",
        "name": "",
        "label": "Input 3",
        "tooltip": "",
        "group": "c14c767c7bab0530",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1700,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "0543a2fb9212ac50",
        "type": "ui_switch",
        "z": "a648c50e4c852023",
        "name": "",
        "label": "Input 4",
        "tooltip": "",
        "group": "c14c767c7bab0530",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1700,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "7ec47e662d1dbf6c",
        "type": "ui_switch",
        "z": "a648c50e4c852023",
        "name": "",
        "label": "Input 5",
        "tooltip": "",
        "group": "c14c767c7bab0530",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1700,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "19f6e8f564aaae79",
        "type": "ui_switch",
        "z": "a648c50e4c852023",
        "name": "",
        "label": "Input 6",
        "tooltip": "",
        "group": "c14c767c7bab0530",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1700,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "9b2c958d4f03ee73",
        "type": "ui_switch",
        "z": "a648c50e4c852023",
        "name": "",
        "label": "Input 7",
        "tooltip": "",
        "group": "c14c767c7bab0530",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1700,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "da208708153fff09",
        "type": "ui_switch",
        "z": "a648c50e4c852023",
        "name": "",
        "label": "Input 8",
        "tooltip": "",
        "group": "c14c767c7bab0530",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1700,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "87b367d7ca60a4ac",
        "type": "rbe",
        "z": "a648c50e4c852023",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1110,
        "y": 340,
        "wires": [
            [
                "201a55a9c0ab8023"
            ]
        ]
    },
    {
        "id": "ebec67cc6d38f852",
        "type": "victron-input-digitalinput",
        "z": "a648c50e4c852023",
        "service": "com.victronenergy.digitalinput.input01",
        "path": "/Alarm",
        "serviceObj": {
            "service": "com.victronenergy.digitalinput.input01",
            "name": "Bilge pump",
            "paths": [
                {
                    "path": "/Alarm",
                    "type": "enum",
                    "name": "Digital input alarm",
                    "enum": {
                        "0": "No alarm",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Count",
                    "type": "float",
                    "name": "Digital input count"
                },
                {
                    "path": "/State",
                    "type": "enum",
                    "name": "Digital input state",
                    "enum": {
                        "0": "low",
                        "1": "high",
                        "2": "off",
                        "3": "on",
                        "4": "no",
                        "5": "yes",
                        "6": "open",
                        "7": "closed",
                        "8": "ok",
                        "9": "alarm",
                        "10": "running",
                        "11": "stopped"
                    }
                },
                {
                    "path": "/Type",
                    "type": "enum",
                    "name": "Digital input type",
                    "enum": {
                        "0": "Disabled",
                        "1": "Pulse meter",
                        "2": "Door sensor",
                        "3": "Bilge pump",
                        "4": "Bilge alarm",
                        "5": "Burglar alarm",
                        "6": "Smoke alarm",
                        "7": "Fire alarm",
                        "8": "CO2 alarm",
                        "9": "Generic input"
                    }
                }
            ]
        },
        "pathObj": {
            "path": "/Alarm",
            "type": "enum",
            "name": "Digital input alarm",
            "enum": {
                "0": "No alarm",
                "1": "Warning",
                "2": "Alarm"
            }
        },
        "initial": "",
        "name": "",
        "x": 430,
        "y": 620,
        "wires": [
            [
                "55982344ada7eb44"
            ]
        ]
    },
    {
        "id": "2db5ad2bc15a3ead",
        "type": "victron-input-digitalinput",
        "z": "a648c50e4c852023",
        "service": "com.victronenergy.digitalinput.input02",
        "path": "/Alarm",
        "serviceObj": {
            "service": "com.victronenergy.digitalinput.input02",
            "name": "Smoke alarm",
            "paths": [
                {
                    "path": "/Alarm",
                    "type": "enum",
                    "name": "Digital input alarm",
                    "enum": {
                        "0": "No alarm",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Count",
                    "type": "float",
                    "name": "Digital input count"
                },
                {
                    "path": "/State",
                    "type": "enum",
                    "name": "Digital input state",
                    "enum": {
                        "0": "low",
                        "1": "high",
                        "2": "off",
                        "3": "on",
                        "4": "no",
                        "5": "yes",
                        "6": "open",
                        "7": "closed",
                        "8": "ok",
                        "9": "alarm",
                        "10": "running",
                        "11": "stopped"
                    }
                },
                {
                    "path": "/Type",
                    "type": "enum",
                    "name": "Digital input type",
                    "enum": {
                        "0": "Disabled",
                        "1": "Pulse meter",
                        "2": "Door sensor",
                        "3": "Bilge pump",
                        "4": "Bilge alarm",
                        "5": "Burglar alarm",
                        "6": "Smoke alarm",
                        "7": "Fire alarm",
                        "8": "CO2 alarm",
                        "9": "Generic input"
                    }
                }
            ]
        },
        "pathObj": {
            "path": "/Alarm",
            "type": "enum",
            "name": "Digital input alarm",
            "enum": {
                "0": "No alarm",
                "1": "Warning",
                "2": "Alarm"
            }
        },
        "initial": "",
        "name": "",
        "x": 430,
        "y": 680,
        "wires": [
            [
                "f5a917573ab068e4"
            ]
        ]
    },
    {
        "id": "965c46d09c1f2a06",
        "type": "victron-input-digitalinput",
        "z": "a648c50e4c852023",
        "service": "com.victronenergy.digitalinput.input03",
        "path": "/Alarm",
        "serviceObj": {
            "service": "com.victronenergy.digitalinput.input03",
            "name": "Door alarm",
            "paths": [
                {
                    "path": "/Alarm",
                    "type": "enum",
                    "name": "Digital input alarm",
                    "enum": {
                        "0": "No alarm",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Count",
                    "type": "float",
                    "name": "Digital input count"
                },
                {
                    "path": "/State",
                    "type": "enum",
                    "name": "Digital input state",
                    "enum": {
                        "0": "low",
                        "1": "high",
                        "2": "off",
                        "3": "on",
                        "4": "no",
                        "5": "yes",
                        "6": "open",
                        "7": "closed",
                        "8": "ok",
                        "9": "alarm",
                        "10": "running",
                        "11": "stopped"
                    }
                },
                {
                    "path": "/Type",
                    "type": "enum",
                    "name": "Digital input type",
                    "enum": {
                        "0": "Disabled",
                        "1": "Pulse meter",
                        "2": "Door sensor",
                        "3": "Bilge pump",
                        "4": "Bilge alarm",
                        "5": "Burglar alarm",
                        "6": "Smoke alarm",
                        "7": "Fire alarm",
                        "8": "CO2 alarm",
                        "9": "Generic input"
                    }
                }
            ]
        },
        "pathObj": {
            "path": "/Alarm",
            "type": "enum",
            "name": "Digital input alarm",
            "enum": {
                "0": "No alarm",
                "1": "Warning",
                "2": "Alarm"
            }
        },
        "initial": "",
        "name": "",
        "x": 430,
        "y": 740,
        "wires": [
            [
                "7e2075eb4c68034e"
            ]
        ]
    },
    {
        "id": "da0a64702250e515",
        "type": "victron-input-digitalinput",
        "z": "a648c50e4c852023",
        "service": "com.victronenergy.digitalinput.input04",
        "path": "/Alarm",
        "serviceObj": {
            "service": "com.victronenergy.digitalinput.input04",
            "name": "Bilge alarm",
            "paths": [
                {
                    "path": "/Alarm",
                    "type": "enum",
                    "name": "Digital input alarm",
                    "enum": {
                        "0": "No alarm",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Count",
                    "type": "float",
                    "name": "Digital input count"
                },
                {
                    "path": "/State",
                    "type": "enum",
                    "name": "Digital input state",
                    "enum": {
                        "0": "low",
                        "1": "high",
                        "2": "off",
                        "3": "on",
                        "4": "no",
                        "5": "yes",
                        "6": "open",
                        "7": "closed",
                        "8": "ok",
                        "9": "alarm",
                        "10": "running",
                        "11": "stopped"
                    }
                },
                {
                    "path": "/Type",
                    "type": "enum",
                    "name": "Digital input type",
                    "enum": {
                        "0": "Disabled",
                        "1": "Pulse meter",
                        "2": "Door sensor",
                        "3": "Bilge pump",
                        "4": "Bilge alarm",
                        "5": "Burglar alarm",
                        "6": "Smoke alarm",
                        "7": "Fire alarm",
                        "8": "CO2 alarm",
                        "9": "Generic input"
                    }
                }
            ]
        },
        "pathObj": {
            "path": "/Alarm",
            "type": "enum",
            "name": "Digital input alarm",
            "enum": {
                "0": "No alarm",
                "1": "Warning",
                "2": "Alarm"
            }
        },
        "initial": "",
        "name": "",
        "x": 430,
        "y": 800,
        "wires": [
            [
                "ef75bae23a2ab26c"
            ]
        ]
    },
    {
        "id": "55982344ada7eb44",
        "type": "ui_switch",
        "z": "a648c50e4c852023",
        "name": "",
        "label": "Bilge pump ON",
        "tooltip": "",
        "group": "b7dc32707bc98270",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1720,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "f5a917573ab068e4",
        "type": "ui_switch",
        "z": "a648c50e4c852023",
        "name": "",
        "label": "Smoke Detector",
        "tooltip": "",
        "group": "b7dc32707bc98270",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1720,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "7e2075eb4c68034e",
        "type": "ui_switch",
        "z": "a648c50e4c852023",
        "name": "",
        "label": "Door Open",
        "tooltip": "",
        "group": "b7dc32707bc98270",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1710,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "ef75bae23a2ab26c",
        "type": "ui_switch",
        "z": "a648c50e4c852023",
        "name": "",
        "label": "Water Alarm",
        "tooltip": "",
        "group": "b7dc32707bc98270",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1710,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "e74215343cc3674d",
        "type": "exec",
        "z": "a648c50e4c852023",
        "command": " /data/rgpio/mod_rgpio",
        "addpay": "",
        "append": "Read_Input /dev/ttyUSB0  ",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Read Input",
        "x": 510,
        "y": 540,
        "wires": [
            [
                "fd62b3b110f63fef"
            ],
            [],
            [
                "ef8b5db5ed1b53e9",
                "db3df95cacb05830"
            ]
        ]
    },
    {
        "id": "fd62b3b110f63fef",
        "type": "function",
        "z": "a648c50e4c852023",
        "name": "Clean",
        "func": "if (msg.payload == \"\") {\n  return null; //halt flow if empty\n}\nconst input = {\n        data: [],\n}\ninput.data[0] = Number(msg.payload)\nmsg.payload = input;\n\nif(isNaN(msg.payload.data[0])) {\n  return null; //halt flow if not valid\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 340,
        "wires": [
            [
                "6994b671836c2736"
            ]
        ]
    },
    {
        "id": "6994b671836c2736",
        "type": "buffer-parser",
        "z": "a648c50e4c852023",
        "name": "",
        "data": "payload[\"data\"]",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "8bit",
                "name": "0",
                "offset": 1,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "output",
        "multipleResult": true,
        "fanOutMultipleResult": true,
        "setTopic": false,
        "outputs": 1,
        "x": 930,
        "y": 340,
        "wires": [
            [
                "87b367d7ca60a4ac"
            ]
        ]
    },
    {
        "id": "51148ea209719a6b",
        "type": "link in",
        "z": "a648c50e4c852023",
        "name": "link in mod_rgpio",
        "links": [
            "f848417ec245b77d"
        ],
        "x": 295,
        "y": 540,
        "wires": [
            [
                "e74215343cc3674d"
            ]
        ]
    },
    {
        "id": "ef8b5db5ed1b53e9",
        "type": "debug",
        "z": "a648c50e4c852023",
        "name": "debug 40",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 580,
        "wires": []
    },
    {
        "id": "db3df95cacb05830",
        "type": "link out",
        "z": "a648c50e4c852023",
        "name": "link out Loop_mod_rgpio",
        "mode": "link",
        "links": [
            "2f0ac1933cf248b5"
        ],
        "x": 1655,
        "y": 560,
        "wires": []
    },
    {
        "id": "0e89536a19bf09a2",
        "type": "ui_switch",
        "z": "a77f29e3f960a9fc",
        "name": "",
        "label": "Relai 4",
        "tooltip": "(Relai2 RGPIO1)",
        "group": "2448a064a5557ac5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 890,
        "y": 500,
        "wires": [
            [
                "f59c4076f694ea52",
                "d5738d25ad54e07c"
            ]
        ]
    },
    {
        "id": "e31f4272f330f9e2",
        "type": "victron-input-relay",
        "z": "a77f29e3f960a9fc",
        "service": "com.victronenergy.system",
        "path": "/Relay/2/State",
        "serviceObj": {
            "service": "com.victronenergy.system",
            "name": "com.victronenergy.system",
            "paths": [
                {
                    "path": "/Relay/0/State",
                    "type": "enum",
                    "name": "Venus relay 1 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/1/State",
                    "type": "enum",
                    "name": "Venus relay 2 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/2/State",
                    "type": "enum",
                    "name": "Venus relay 3 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/3/State",
                    "type": "enum",
                    "name": "Venus relay 4 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/4/State",
                    "type": "enum",
                    "name": "Venus relay 5 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/5/State",
                    "type": "enum",
                    "name": "Venus relay 6 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                }
            ]
        },
        "pathObj": {
            "path": "/Relay/2/State",
            "type": "enum",
            "name": "Venus relay 3 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "",
        "x": 300,
        "y": 440,
        "wires": [
            [
                "2d230dda428675c1"
            ]
        ]
    },
    {
        "id": "c38e247b8577d7d6",
        "type": "victron-output-relay",
        "z": "a77f29e3f960a9fc",
        "service": "com.victronenergy.system",
        "path": "/Relay/2/State",
        "serviceObj": {
            "service": "com.victronenergy.system",
            "name": "Venus device",
            "paths": [
                {
                    "path": "/Relay/0/State",
                    "type": "enum",
                    "name": "Venus relay 1 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true,
                    "disabled": true,
                    "warning": "The relays are configured for <strong>alarm</strong> function. Please navigate to Settings > Relay and change it to manual."
                },
                {
                    "path": "/Relay/1/State",
                    "type": "enum",
                    "name": "Venus relay 2 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/2/State",
                    "type": "enum",
                    "name": "Venus relay 3 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/3/State",
                    "type": "enum",
                    "name": "Venus relay 4 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/4/State",
                    "type": "enum",
                    "name": "Venus relay 5 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/5/State",
                    "type": "enum",
                    "name": "Venus relay 6 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                }
            ]
        },
        "pathObj": {
            "path": "/Relay/2/State",
            "type": "enum",
            "name": "Venus relay 3 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "x": 1680,
        "y": 440,
        "wires": []
    },
    {
        "id": "8be3ebe34c94a171",
        "type": "ui_switch",
        "z": "a77f29e3f960a9fc",
        "name": "",
        "label": "Relai 6",
        "tooltip": "(Relai4 RGPIO1)",
        "group": "2448a064a5557ac5",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 890,
        "y": 700,
        "wires": [
            [
                "1a3b1e46672db0c5",
                "d2ab742c1c655f6e"
            ]
        ]
    },
    {
        "id": "566c60fad3d74dbf",
        "type": "victron-input-relay",
        "z": "a77f29e3f960a9fc",
        "service": "com.victronenergy.system",
        "path": "/Relay/3/State",
        "serviceObj": {
            "service": "com.victronenergy.system",
            "name": "com.victronenergy.system",
            "paths": [
                {
                    "path": "/Relay/0/State",
                    "type": "enum",
                    "name": "Venus relay 1 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/1/State",
                    "type": "enum",
                    "name": "Venus relay 2 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/2/State",
                    "type": "enum",
                    "name": "Venus relay 3 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/3/State",
                    "type": "enum",
                    "name": "Venus relay 4 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/4/State",
                    "type": "enum",
                    "name": "Venus relay 5 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/5/State",
                    "type": "enum",
                    "name": "Venus relay 6 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                }
            ]
        },
        "pathObj": {
            "path": "/Relay/3/State",
            "type": "enum",
            "name": "Venus relay 4 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "",
        "x": 300,
        "y": 540,
        "wires": [
            [
                "95522d31e015d77d"
            ]
        ]
    },
    {
        "id": "d5738d25ad54e07c",
        "type": "victron-output-relay",
        "z": "a77f29e3f960a9fc",
        "service": "com.victronenergy.system",
        "path": "/Relay/3/State",
        "serviceObj": {
            "service": "com.victronenergy.system",
            "name": "Venus device",
            "paths": [
                {
                    "path": "/Relay/0/State",
                    "type": "enum",
                    "name": "Venus relay 1 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true,
                    "disabled": true,
                    "warning": "The relays are configured for <strong>alarm</strong> function. Please navigate to Settings > Relay and change it to manual."
                },
                {
                    "path": "/Relay/1/State",
                    "type": "enum",
                    "name": "Venus relay 2 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/2/State",
                    "type": "enum",
                    "name": "Venus relay 3 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/3/State",
                    "type": "enum",
                    "name": "Venus relay 4 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/4/State",
                    "type": "enum",
                    "name": "Venus relay 5 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/5/State",
                    "type": "enum",
                    "name": "Venus relay 6 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                }
            ]
        },
        "pathObj": {
            "path": "/Relay/3/State",
            "type": "enum",
            "name": "Venus relay 4 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "x": 1680,
        "y": 540,
        "wires": []
    },
    {
        "id": "9b1f8e9985735f92",
        "type": "ui_switch",
        "z": "a77f29e3f960a9fc",
        "name": "",
        "label": "Relai 5",
        "tooltip": "(Relai3 RGPIO1)",
        "group": "2448a064a5557ac5",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 890,
        "y": 600,
        "wires": [
            [
                "664ad89a9b39a00b",
                "cf0a8fe455fbb0cf"
            ]
        ]
    },
    {
        "id": "4d63288dd2333e62",
        "type": "victron-input-relay",
        "z": "a77f29e3f960a9fc",
        "service": "com.victronenergy.system",
        "path": "/Relay/4/State",
        "serviceObj": {
            "service": "com.victronenergy.system",
            "name": "com.victronenergy.system",
            "paths": [
                {
                    "path": "/Relay/0/State",
                    "type": "enum",
                    "name": "Venus relay 1 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/1/State",
                    "type": "enum",
                    "name": "Venus relay 2 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/2/State",
                    "type": "enum",
                    "name": "Venus relay 3 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/3/State",
                    "type": "enum",
                    "name": "Venus relay 4 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/4/State",
                    "type": "enum",
                    "name": "Venus relay 5 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/5/State",
                    "type": "enum",
                    "name": "Venus relay 6 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                }
            ]
        },
        "pathObj": {
            "path": "/Relay/4/State",
            "type": "enum",
            "name": "Venus relay 5 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "",
        "x": 300,
        "y": 640,
        "wires": [
            [
                "cfe1ec71b314419a"
            ]
        ]
    },
    {
        "id": "cf0a8fe455fbb0cf",
        "type": "victron-output-relay",
        "z": "a77f29e3f960a9fc",
        "service": "com.victronenergy.system",
        "path": "/Relay/4/State",
        "serviceObj": {
            "service": "com.victronenergy.system",
            "name": "Venus device",
            "paths": [
                {
                    "path": "/Relay/0/State",
                    "type": "enum",
                    "name": "Venus relay 1 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true,
                    "disabled": true,
                    "warning": "The relays are configured for <strong>alarm</strong> function. Please navigate to Settings > Relay and change it to manual."
                },
                {
                    "path": "/Relay/1/State",
                    "type": "enum",
                    "name": "Venus relay 2 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/2/State",
                    "type": "enum",
                    "name": "Venus relay 3 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/3/State",
                    "type": "enum",
                    "name": "Venus relay 4 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/4/State",
                    "type": "enum",
                    "name": "Venus relay 5 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/5/State",
                    "type": "enum",
                    "name": "Venus relay 6 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                }
            ]
        },
        "pathObj": {
            "path": "/Relay/4/State",
            "type": "enum",
            "name": "Venus relay 5 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "x": 1680,
        "y": 640,
        "wires": []
    },
    {
        "id": "1aa2070cd6f18970",
        "type": "victron-input-relay",
        "z": "a77f29e3f960a9fc",
        "service": "com.victronenergy.system",
        "path": "/Relay/5/State",
        "serviceObj": {
            "service": "com.victronenergy.system",
            "name": "com.victronenergy.system",
            "paths": [
                {
                    "path": "/Relay/0/State",
                    "type": "enum",
                    "name": "Venus relay 1 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/1/State",
                    "type": "enum",
                    "name": "Venus relay 2 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/2/State",
                    "type": "enum",
                    "name": "Venus relay 3 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/3/State",
                    "type": "enum",
                    "name": "Venus relay 4 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/4/State",
                    "type": "enum",
                    "name": "Venus relay 5 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/5/State",
                    "type": "enum",
                    "name": "Venus relay 6 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                }
            ]
        },
        "pathObj": {
            "path": "/Relay/5/State",
            "type": "enum",
            "name": "Venus relay 6 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "",
        "x": 300,
        "y": 740,
        "wires": [
            [
                "3d09c76276f1580d"
            ]
        ]
    },
    {
        "id": "d2ab742c1c655f6e",
        "type": "victron-output-relay",
        "z": "a77f29e3f960a9fc",
        "service": "com.victronenergy.system",
        "path": "/Relay/5/State",
        "serviceObj": {
            "service": "com.victronenergy.system",
            "name": "Venus device",
            "paths": [
                {
                    "path": "/Relay/0/State",
                    "type": "enum",
                    "name": "Venus relay 1 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true,
                    "disabled": true,
                    "warning": "The relays are configured for <strong>alarm</strong> function. Please navigate to Settings > Relay and change it to manual."
                },
                {
                    "path": "/Relay/1/State",
                    "type": "enum",
                    "name": "Venus relay 2 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/2/State",
                    "type": "enum",
                    "name": "Venus relay 3 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/3/State",
                    "type": "enum",
                    "name": "Venus relay 4 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/4/State",
                    "type": "enum",
                    "name": "Venus relay 5 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/5/State",
                    "type": "enum",
                    "name": "Venus relay 6 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                null,
                null,
                null,
                null
            ]
        },
        "pathObj": {
            "path": "/Relay/5/State",
            "type": "enum",
            "name": "Venus relay 6 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "x": 1680,
        "y": 740,
        "wires": []
    },
    {
        "id": "4fbfc737f7a4273f",
        "type": "ui_switch",
        "z": "a77f29e3f960a9fc",
        "name": "",
        "label": "Relai 1",
        "tooltip": "Relai1 Cerbo GX - ",
        "group": "a9d0f0d6dc0f0a7e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 890,
        "y": 80,
        "wires": [
            [
                "b91d9d916eeb21f1"
            ]
        ]
    },
    {
        "id": "1cf8ee4f9d6ae727",
        "type": "victron-input-relay",
        "z": "a77f29e3f960a9fc",
        "service": "com.victronenergy.system",
        "path": "/Relay/0/State",
        "serviceObj": {
            "service": "com.victronenergy.system",
            "name": "com.victronenergy.system",
            "paths": [
                {
                    "path": "/Relay/0/State",
                    "type": "enum",
                    "name": "Venus relay 1 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/1/State",
                    "type": "enum",
                    "name": "Venus relay 2 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/2/State",
                    "type": "enum",
                    "name": "Venus relay 3 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/3/State",
                    "type": "enum",
                    "name": "Venus relay 4 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/4/State",
                    "type": "enum",
                    "name": "Venus relay 5 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/5/State",
                    "type": "enum",
                    "name": "Venus relay 6 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                }
            ]
        },
        "pathObj": {
            "path": "/Relay/0/State",
            "type": "enum",
            "name": "Venus relay 1 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "",
        "x": 300,
        "y": 80,
        "wires": [
            [
                "4fbfc737f7a4273f"
            ]
        ]
    },
    {
        "id": "b91d9d916eeb21f1",
        "type": "victron-output-relay",
        "z": "a77f29e3f960a9fc",
        "service": "com.victronenergy.system",
        "path": "/Relay/0/State",
        "serviceObj": {
            "service": "com.victronenergy.system",
            "name": "Venus device",
            "paths": [
                {
                    "path": "/Relay/0/State",
                    "type": "enum",
                    "name": "Venus relay 1 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true,
                    "disabled": true,
                    "warning": "The relays are configured for <strong>alarm</strong> function. Please navigate to Settings > Relay and change it to manual."
                },
                {
                    "path": "/Relay/1/State",
                    "type": "enum",
                    "name": "Venus relay 2 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/2/State",
                    "type": "enum",
                    "name": "Venus relay 3 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/3/State",
                    "type": "enum",
                    "name": "Venus relay 4 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/4/State",
                    "type": "enum",
                    "name": "Venus relay 5 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/5/State",
                    "type": "enum",
                    "name": "Venus relay 6 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                }
            ]
        },
        "pathObj": {
            "path": "/Relay/0/State",
            "type": "enum",
            "name": "Venus relay 1 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true,
            "disabled": true,
            "warning": "The relays are configured for <strong>alarm</strong> function. Please navigate to Settings > Relay and change it to manual."
        },
        "initial": "",
        "name": "",
        "x": 1680,
        "y": 80,
        "wires": []
    },
    {
        "id": "c43a1fbf0c440de0",
        "type": "link out",
        "z": "a77f29e3f960a9fc",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "a467aff0686b290e"
        ],
        "x": 1555,
        "y": 980,
        "wires": []
    },
    {
        "id": "1a3b1e46672db0c5",
        "type": "link out",
        "z": "a77f29e3f960a9fc",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "234edab72ea1f106"
        ],
        "x": 1555,
        "y": 700,
        "wires": []
    },
    {
        "id": "0ad47de014e7a526",
        "type": "link out",
        "z": "a77f29e3f960a9fc",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "701f30766efde73d"
        ],
        "x": 1555,
        "y": 920,
        "wires": []
    },
    {
        "id": "4565b9f7befb29a5",
        "type": "ui_switch",
        "z": "a77f29e3f960a9fc",
        "name": "",
        "label": "Relai 10",
        "tooltip": "(Relai8 RGPIO1)",
        "group": "2448a064a5557ac5",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 900,
        "y": 980,
        "wires": [
            [
                "c43a1fbf0c440de0"
            ]
        ]
    },
    {
        "id": "ed4a15f0eee42f04",
        "type": "ui_switch",
        "z": "a77f29e3f960a9fc",
        "name": "",
        "label": "Relai 8",
        "tooltip": "(Relai6 RGPIO1)",
        "group": "2448a064a5557ac5",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 890,
        "y": 860,
        "wires": [
            [
                "c63f155f03a9a89f"
            ]
        ]
    },
    {
        "id": "c63f155f03a9a89f",
        "type": "link out",
        "z": "a77f29e3f960a9fc",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "7395cced7aed38f0"
        ],
        "x": 1555,
        "y": 860,
        "wires": []
    },
    {
        "id": "7329631484cacb49",
        "type": "link in",
        "z": "a77f29e3f960a9fc",
        "name": "link in ext process 6",
        "links": [
            "d2c6cbdc302685e0"
        ],
        "x": 465,
        "y": 860,
        "wires": [
            [
                "427a5a8c5c1cc342"
            ]
        ]
    },
    {
        "id": "d4db1c139070d015",
        "type": "link in",
        "z": "a77f29e3f960a9fc",
        "name": "link in ext process 2",
        "links": [],
        "x": 465,
        "y": 500,
        "wires": [
            [
                "95522d31e015d77d"
            ]
        ]
    },
    {
        "id": "bbb3859e96f8a61e",
        "type": "link in",
        "z": "a77f29e3f960a9fc",
        "name": "link in ext process 7",
        "links": [
            "372c3b7c10ad2bd8"
        ],
        "x": 465,
        "y": 920,
        "wires": [
            [
                "eda73fb7f70c78d2"
            ]
        ]
    },
    {
        "id": "0e2a02e153594130",
        "type": "link in",
        "z": "a77f29e3f960a9fc",
        "name": "link in ext process 4",
        "links": [],
        "x": 465,
        "y": 700,
        "wires": [
            [
                "3d09c76276f1580d"
            ]
        ]
    },
    {
        "id": "2d1a3ccccc0ece28",
        "type": "link in",
        "z": "a77f29e3f960a9fc",
        "name": "link in ext process 8",
        "links": [
            "4d3bb01a1df78a50"
        ],
        "x": 465,
        "y": 980,
        "wires": [
            [
                "69259181b42ec307"
            ]
        ]
    },
    {
        "id": "95029e53b16fd5a7",
        "type": "victron-input-relay",
        "z": "a77f29e3f960a9fc",
        "service": "com.victronenergy.system",
        "path": "/Relay/0/State",
        "serviceObj": {
            "service": "com.victronenergy.system",
            "name": "com.victronenergy.system",
            "paths": [
                {
                    "path": "/Relay/0/State",
                    "type": "enum",
                    "name": "Venus relay 1 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/1/State",
                    "type": "enum",
                    "name": "Venus relay 2 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/2/State",
                    "type": "enum",
                    "name": "Venus relay 3 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/3/State",
                    "type": "enum",
                    "name": "Venus relay 4 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/4/State",
                    "type": "enum",
                    "name": "Venus relay 5 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Relay/5/State",
                    "type": "enum",
                    "name": "Venus relay 6 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                }
            ]
        },
        "pathObj": {
            "path": "/Relay/0/State",
            "type": "enum",
            "name": "Venus relay 1 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "",
        "x": 300,
        "y": 140,
        "wires": [
            [
                "1d95403d7ed2bb10"
            ]
        ]
    },
    {
        "id": "18e7e40ef0d66024",
        "type": "victron-output-relay",
        "z": "a77f29e3f960a9fc",
        "service": "com.victronenergy.system",
        "path": "/Relay/1/State",
        "serviceObj": {
            "service": "com.victronenergy.system",
            "name": "Venus device",
            "paths": [
                {
                    "path": "/Relay/0/State",
                    "type": "enum",
                    "name": "Venus relay 1 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true,
                    "disabled": true,
                    "warning": "The relays are configured for <strong>alarm</strong> function. Please navigate to Settings > Relay and change it to manual."
                },
                {
                    "path": "/Relay/1/State",
                    "type": "enum",
                    "name": "Venus relay 2 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/2/State",
                    "type": "enum",
                    "name": "Venus relay 3 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/3/State",
                    "type": "enum",
                    "name": "Venus relay 4 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/4/State",
                    "type": "enum",
                    "name": "Venus relay 5 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                },
                {
                    "path": "/Relay/5/State",
                    "type": "enum",
                    "name": "Venus relay 6 state",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    },
                    "writable": true
                }
            ]
        },
        "pathObj": {
            "path": "/Relay/1/State",
            "type": "enum",
            "name": "Venus relay 2 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "x": 1680,
        "y": 140,
        "wires": []
    },
    {
        "id": "5150f39460b61d3f",
        "type": "comment",
        "z": "a77f29e3f960a9fc",
        "name": "Relais Cerbo GX",
        "info": "",
        "x": 900,
        "y": 40,
        "wires": []
    },
    {
        "id": "3d3d20d1a128ae29",
        "type": "comment",
        "z": "a77f29e3f960a9fc",
        "name": "Relais RGPIO #1",
        "info": "",
        "x": 900,
        "y": 320,
        "wires": []
    },
    {
        "id": "52a67c61729a0560",
        "type": "ui_switch",
        "z": "a77f29e3f960a9fc",
        "name": "",
        "label": "Relai 3",
        "tooltip": "(Relai1 RGPIO1)",
        "group": "2448a064a5557ac5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 890,
        "y": 400,
        "wires": [
            [
                "628aeb04d59e3394",
                "c38e247b8577d7d6"
            ]
        ]
    },
    {
        "id": "55634c9189eed6ad",
        "type": "ui_switch",
        "z": "a77f29e3f960a9fc",
        "name": "",
        "label": "Relai 7",
        "tooltip": "(Relai5 RGPIO1)",
        "group": "2448a064a5557ac5",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 890,
        "y": 800,
        "wires": [
            [
                "e0d58b392861b228"
            ]
        ]
    },
    {
        "id": "1ca26aa34ac08f07",
        "type": "ui_switch",
        "z": "a77f29e3f960a9fc",
        "name": "",
        "label": "Relai 9",
        "tooltip": "(Relai7 RGPIO1)",
        "group": "2448a064a5557ac5",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 890,
        "y": 920,
        "wires": [
            [
                "0ad47de014e7a526"
            ]
        ]
    },
    {
        "id": "c850137ec647fc09",
        "type": "inject",
        "z": "a77f29e3f960a9fc",
        "name": "Reset at boot before reading the relays",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 320,
        "y": 200,
        "wires": [
            [
                "1d95403d7ed2bb10"
            ]
        ]
    },
    {
        "id": "1d95403d7ed2bb10",
        "type": "ui_switch",
        "z": "a77f29e3f960a9fc",
        "name": "",
        "label": "Relai 2",
        "tooltip": "Relai2 Cerbo GX - Eclairage portique",
        "group": "a9d0f0d6dc0f0a7e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 890,
        "y": 140,
        "wires": [
            [
                "18e7e40ef0d66024"
            ]
        ]
    },
    {
        "id": "f59c4076f694ea52",
        "type": "link out",
        "z": "a77f29e3f960a9fc",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "6eacb1f53458259a"
        ],
        "x": 1555,
        "y": 500,
        "wires": []
    },
    {
        "id": "02a678c2eee042b6",
        "type": "link in",
        "z": "a77f29e3f960a9fc",
        "name": "link in ext process 1",
        "links": [],
        "x": 465,
        "y": 400,
        "wires": [
            [
                "2d230dda428675c1"
            ]
        ]
    },
    {
        "id": "628aeb04d59e3394",
        "type": "link out",
        "z": "a77f29e3f960a9fc",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "3f0e02689ada2cbf"
        ],
        "x": 1555,
        "y": 400,
        "wires": []
    },
    {
        "id": "534cd8bc30a9b54d",
        "type": "link in",
        "z": "a77f29e3f960a9fc",
        "name": "link in ext process 3",
        "links": [],
        "x": 465,
        "y": 600,
        "wires": [
            [
                "cfe1ec71b314419a"
            ]
        ]
    },
    {
        "id": "664ad89a9b39a00b",
        "type": "link out",
        "z": "a77f29e3f960a9fc",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "4d968eac2aadd49a"
        ],
        "x": 1555,
        "y": 600,
        "wires": []
    },
    {
        "id": "e0d58b392861b228",
        "type": "link out",
        "z": "a77f29e3f960a9fc",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "5dc5285f6e587793"
        ],
        "x": 1555,
        "y": 800,
        "wires": []
    },
    {
        "id": "d3cddac1a29888b5",
        "type": "link in",
        "z": "a77f29e3f960a9fc",
        "name": "link in ext process 5",
        "links": [
            "e875240defa0e9f6"
        ],
        "x": 465,
        "y": 800,
        "wires": [
            [
                "e7ca2021205952ff"
            ]
        ]
    },
    {
        "id": "1f3f293f2bf39e0d",
        "type": "inject",
        "z": "a77f29e3f960a9fc",
        "name": "Reset at boot before reading the relays",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 320,
        "y": 360,
        "wires": [
            [
                "52a67c61729a0560",
                "0e89536a19bf09a2",
                "9b1f8e9985735f92",
                "8be3ebe34c94a171",
                "55634c9189eed6ad",
                "ed4a15f0eee42f04",
                "1ca26aa34ac08f07",
                "4565b9f7befb29a5"
            ]
        ]
    },
    {
        "id": "e1c3c8f5cf8d65e4",
        "type": "comment",
        "z": "a77f29e3f960a9fc",
        "name": "Link to external process to trigg the relay",
        "info": "",
        "x": 280,
        "y": 400,
        "wires": []
    },
    {
        "id": "d896173e04b7d956",
        "type": "comment",
        "z": "a77f29e3f960a9fc",
        "name": "Link to external process to trigg the relay",
        "info": "",
        "x": 280,
        "y": 500,
        "wires": []
    },
    {
        "id": "e3da884776b19206",
        "type": "comment",
        "z": "a77f29e3f960a9fc",
        "name": "Link to external process to trigg the relay",
        "info": "",
        "x": 280,
        "y": 600,
        "wires": []
    },
    {
        "id": "e41abe71cdeba12b",
        "type": "comment",
        "z": "a77f29e3f960a9fc",
        "name": "Link to external process to trigg the relay",
        "info": "",
        "x": 280,
        "y": 700,
        "wires": []
    },
    {
        "id": "187c9163c6078157",
        "type": "comment",
        "z": "a77f29e3f960a9fc",
        "name": "Link to external process to trigg the relay",
        "info": "",
        "x": 280,
        "y": 800,
        "wires": []
    },
    {
        "id": "3ee099c75723a9b2",
        "type": "comment",
        "z": "a77f29e3f960a9fc",
        "name": "Link to external process to trigg the relay",
        "info": "",
        "x": 280,
        "y": 860,
        "wires": []
    },
    {
        "id": "75aec4ce3c7ba151",
        "type": "comment",
        "z": "a77f29e3f960a9fc",
        "name": "Link to external process to trigg the relay",
        "info": "",
        "x": 280,
        "y": 920,
        "wires": []
    },
    {
        "id": "6488275dbd1ded2b",
        "type": "comment",
        "z": "a77f29e3f960a9fc",
        "name": "Link to external process to trigg the relay",
        "info": "",
        "x": 280,
        "y": 980,
        "wires": []
    },
    {
        "id": "95522d31e015d77d",
        "type": "debounce",
        "z": "a77f29e3f960a9fc",
        "time": "50",
        "name": "",
        "x": 720,
        "y": 500,
        "wires": [
            [
                "0e89536a19bf09a2"
            ]
        ]
    },
    {
        "id": "2d230dda428675c1",
        "type": "debounce",
        "z": "a77f29e3f960a9fc",
        "time": "50",
        "name": "",
        "x": 720,
        "y": 400,
        "wires": [
            [
                "52a67c61729a0560"
            ]
        ]
    },
    {
        "id": "cfe1ec71b314419a",
        "type": "debounce",
        "z": "a77f29e3f960a9fc",
        "time": "50",
        "name": "",
        "x": 720,
        "y": 600,
        "wires": [
            [
                "9b1f8e9985735f92"
            ]
        ]
    },
    {
        "id": "3d09c76276f1580d",
        "type": "debounce",
        "z": "a77f29e3f960a9fc",
        "time": "50",
        "name": "",
        "x": 720,
        "y": 700,
        "wires": [
            [
                "8be3ebe34c94a171"
            ]
        ]
    },
    {
        "id": "e7ca2021205952ff",
        "type": "debounce",
        "z": "a77f29e3f960a9fc",
        "time": "50",
        "name": "",
        "x": 720,
        "y": 800,
        "wires": [
            [
                "55634c9189eed6ad"
            ]
        ]
    },
    {
        "id": "427a5a8c5c1cc342",
        "type": "debounce",
        "z": "a77f29e3f960a9fc",
        "time": "50",
        "name": "",
        "x": 720,
        "y": 860,
        "wires": [
            [
                "ed4a15f0eee42f04"
            ]
        ]
    },
    {
        "id": "eda73fb7f70c78d2",
        "type": "debounce",
        "z": "a77f29e3f960a9fc",
        "time": "50",
        "name": "",
        "x": 720,
        "y": 920,
        "wires": [
            [
                "1ca26aa34ac08f07"
            ]
        ]
    },
    {
        "id": "69259181b42ec307",
        "type": "debounce",
        "z": "a77f29e3f960a9fc",
        "time": "50",
        "name": "",
        "x": 720,
        "y": 980,
        "wires": [
            [
                "4565b9f7befb29a5"
            ]
        ]
    }
]