Node-red/flows.json
[
    {
        "id": "a74334d56276c4c0",
        "type": "tab",
        "label": "External Relays Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d6753bbd127b03bd",
        "type": "tab",
        "label": "Read Remote Relays (TCP)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "victron-client-id",
        "type": "victron-client"
    },
    {
        "id": "2e029130b699bcc0",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "102c64759ace5093",
        "type": "ui_group",
        "name": "Relays",
        "tab": "2e029130b699bcc0",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "98970a3050192af7",
        "type": "modbus-client",
        "name": "Relay Module 1",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": false,
        "tcpHost": "172.24.24.101",
        "tcpPort": "502",
        "tcpType": "TELNET",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "9622d5ebd85a3e51",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "32eea465f3c75ca9",
        "type": "tuya-cloud",
        "region": "us",
        "userId": "",
        "deviceId": "704402012cf432ca7da2",
        "name": "node red smart plugs"
    },
    {
        "id": "d37888019fd2f3c0",
        "type": "modbus-client",
        "name": "Relay Module 2",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "172.24.24.102",
        "tcpPort": "502",
        "tcpType": "TELNET",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "75e357c720cdc4e6",
        "type": "modbus-client",
        "name": "Relay Module 3",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "172.24.24.103",
        "tcpPort": "502",
        "tcpType": "TELNET",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "11cbe7416f3c484f",
        "type": "victron-output-relay",
        "z": "a74334d56276c4c0",
        "service": "com.victronenergy.system/0",
        "path": "/Relay/2/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/2/State",
            "type": "enum",
            "name": "Venus relay 3 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 860,
        "y": 120,
        "wires": []
    },
    {
        "id": "aa54b8193260ea50",
        "type": "victron-input-relay",
        "z": "a74334d56276c4c0",
        "service": "com.victronenergy.system/0",
        "path": "/Relay/2/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Relay/2/State",
            "type": "enum",
            "name": "Venus relay 3 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 240,
        "y": 120,
        "wires": [
            [
                "36e56445fa45be12"
            ]
        ]
    },
    {
        "id": "5c356ec76d4246a9",
        "type": "victron-input-relay",
        "z": "a74334d56276c4c0",
        "service": "com.victronenergy.system/0",
        "path": "/Relay/3/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Relay/3/State",
            "type": "enum",
            "name": "Venus relay 4 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 240,
        "y": 200,
        "wires": [
            [
                "2befb503d7286d7e"
            ]
        ]
    },
    {
        "id": "42eb72df71fc112f",
        "type": "victron-output-relay",
        "z": "a74334d56276c4c0",
        "service": "com.victronenergy.system/0",
        "path": "/Relay/3/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/3/State",
            "type": "enum",
            "name": "Venus relay 4 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 860,
        "y": 200,
        "wires": []
    },
    {
        "id": "313fd5a0d43607d5",
        "type": "victron-input-relay",
        "z": "a74334d56276c4c0",
        "service": "com.victronenergy.system/0",
        "path": "/Relay/4/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Relay/4/State",
            "type": "enum",
            "name": "Venus relay 5 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 240,
        "y": 280,
        "wires": [
            [
                "aafeb733fc190793"
            ]
        ]
    },
    {
        "id": "a059c848ecfd203a",
        "type": "victron-input-relay",
        "z": "a74334d56276c4c0",
        "service": "com.victronenergy.system/0",
        "path": "/Relay/5/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Relay/5/State",
            "type": "enum",
            "name": "Venus relay 6 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 240,
        "y": 360,
        "wires": [
            [
                "b70458125ff71b5b"
            ]
        ]
    },
    {
        "id": "f08d4cbc9e108eea",
        "type": "victron-output-relay",
        "z": "a74334d56276c4c0",
        "service": "com.victronenergy.system/0",
        "path": "/Relay/4/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/4/State",
            "type": "enum",
            "name": "Venus relay 5 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "6903c0617b06ce14",
        "type": "victron-output-relay",
        "z": "a74334d56276c4c0",
        "service": "com.victronenergy.system/0",
        "path": "/Relay/5/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/5/State",
            "type": "enum",
            "name": "Venus relay 6 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 860,
        "y": 360,
        "wires": []
    },
    {
        "id": "d9b45d7c764c25fe",
        "type": "victron-input-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/6/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Relay/6/State",
            "type": "enum",
            "name": "Venus relay 7 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 240,
        "y": 440,
        "wires": [
            [
                "070557521befd27d"
            ]
        ]
    },
    {
        "id": "bf1892d4ee568501",
        "type": "victron-input-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/7/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Relay/7/State",
            "type": "enum",
            "name": "Venus relay 8 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 240,
        "y": 520,
        "wires": [
            [
                "f268cf9c5ae64382"
            ]
        ]
    },
    {
        "id": "07bef43eeb7faa31",
        "type": "victron-input-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/8/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Relay/8/State",
            "type": "enum",
            "name": "Venus relay 9 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 240,
        "y": 600,
        "wires": [
            [
                "8a2dc22b7e520693"
            ]
        ]
    },
    {
        "id": "679dd4b802f6a906",
        "type": "victron-input-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/9/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Relay/9/State",
            "type": "enum",
            "name": "Venus relay 10 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 240,
        "y": 680,
        "wires": [
            [
                "207fd5f2008a619c"
            ]
        ]
    },
    {
        "id": "daaa41f300a2aec4",
        "type": "victron-output-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/6/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/6/State",
            "type": "enum",
            "name": "Venus relay 7 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 860,
        "y": 440,
        "wires": []
    },
    {
        "id": "e22debec5197fb22",
        "type": "victron-output-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/7/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/7/State",
            "type": "enum",
            "name": "Venus relay 8 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 860,
        "y": 520,
        "wires": []
    },
    {
        "id": "0ce44df1c10d9080",
        "type": "victron-output-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/8/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/8/State",
            "type": "enum",
            "name": "Venus relay 9 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 860,
        "y": 600,
        "wires": []
    },
    {
        "id": "6a4fa065758a17ad",
        "type": "victron-output-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/9/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/9/State",
            "type": "enum",
            "name": "Venus relay 10 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 860,
        "y": 680,
        "wires": []
    },
    {
        "id": "36e56445fa45be12",
        "type": "debounce",
        "z": "a74334d56276c4c0",
        "time": "100",
        "name": "",
        "x": 480,
        "y": 120,
        "wires": [
            [
                "1ffc4e312d5dede0"
            ]
        ]
    },
    {
        "id": "2befb503d7286d7e",
        "type": "debounce",
        "z": "a74334d56276c4c0",
        "time": "100",
        "name": "",
        "x": 480,
        "y": 200,
        "wires": [
            [
                "a8ba17a4c0a517b0"
            ]
        ]
    },
    {
        "id": "aafeb733fc190793",
        "type": "debounce",
        "z": "a74334d56276c4c0",
        "time": "100",
        "name": "",
        "x": 480,
        "y": 280,
        "wires": [
            [
                "f1db7c11dd9658bf"
            ]
        ]
    },
    {
        "id": "b70458125ff71b5b",
        "type": "debounce",
        "z": "a74334d56276c4c0",
        "time": "100",
        "name": "",
        "x": 480,
        "y": 360,
        "wires": [
            [
                "9d5045fda0c63704"
            ]
        ]
    },
    {
        "id": "070557521befd27d",
        "type": "debounce",
        "z": "a74334d56276c4c0",
        "d": true,
        "time": "100",
        "name": "",
        "x": 480,
        "y": 440,
        "wires": [
            [
                "377c393163b765a7"
            ]
        ]
    },
    {
        "id": "f268cf9c5ae64382",
        "type": "debounce",
        "z": "a74334d56276c4c0",
        "d": true,
        "time": "100",
        "name": "",
        "x": 480,
        "y": 520,
        "wires": [
            [
                "d59905c44241cc0f"
            ]
        ]
    },
    {
        "id": "8a2dc22b7e520693",
        "type": "debounce",
        "z": "a74334d56276c4c0",
        "d": true,
        "time": "100",
        "name": "",
        "x": 480,
        "y": 600,
        "wires": [
            [
                "17970ddbbf4a044c"
            ]
        ]
    },
    {
        "id": "207fd5f2008a619c",
        "type": "debounce",
        "z": "a74334d56276c4c0",
        "d": true,
        "time": "100",
        "name": "",
        "x": 480,
        "y": 680,
        "wires": [
            [
                "904fda9e7b4f731b"
            ]
        ]
    },
    {
        "id": "1ffc4e312d5dede0",
        "type": "ui_switch",
        "z": "a74334d56276c4c0",
        "name": "",
        "label": "switch 3",
        "tooltip": "",
        "group": "102c64759ace5093",
        "order": 1,
        "width": "8",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 620,
        "y": 120,
        "wires": [
            [
                "11cbe7416f3c484f"
            ]
        ]
    },
    {
        "id": "a8ba17a4c0a517b0",
        "type": "ui_switch",
        "z": "a74334d56276c4c0",
        "name": "",
        "label": "switch 4",
        "tooltip": "",
        "group": "102c64759ace5093",
        "order": 2,
        "width": "8",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 620,
        "y": 200,
        "wires": [
            [
                "42eb72df71fc112f"
            ]
        ]
    },
    {
        "id": "f1db7c11dd9658bf",
        "type": "ui_switch",
        "z": "a74334d56276c4c0",
        "name": "",
        "label": "switch 5",
        "tooltip": "",
        "group": "102c64759ace5093",
        "order": 3,
        "width": "8",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 620,
        "y": 280,
        "wires": [
            [
                "f08d4cbc9e108eea"
            ]
        ]
    },
    {
        "id": "9d5045fda0c63704",
        "type": "ui_switch",
        "z": "a74334d56276c4c0",
        "name": "",
        "label": "switch 6",
        "tooltip": "",
        "group": "102c64759ace5093",
        "order": 4,
        "width": "8",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 620,
        "y": 360,
        "wires": [
            [
                "6903c0617b06ce14"
            ]
        ]
    },
    {
        "id": "377c393163b765a7",
        "type": "ui_switch",
        "z": "a74334d56276c4c0",
        "d": true,
        "name": "",
        "label": "switch 7",
        "tooltip": "",
        "group": "102c64759ace5093",
        "order": 5,
        "width": "8",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 620,
        "y": 440,
        "wires": [
            [
                "daaa41f300a2aec4"
            ]
        ]
    },
    {
        "id": "d59905c44241cc0f",
        "type": "ui_switch",
        "z": "a74334d56276c4c0",
        "d": true,
        "name": "",
        "label": "switch 8",
        "tooltip": "",
        "group": "102c64759ace5093",
        "order": 6,
        "width": "8",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 620,
        "y": 520,
        "wires": [
            [
                "e22debec5197fb22"
            ]
        ]
    },
    {
        "id": "17970ddbbf4a044c",
        "type": "ui_switch",
        "z": "a74334d56276c4c0",
        "d": true,
        "name": "",
        "label": "switch 9",
        "tooltip": "",
        "group": "102c64759ace5093",
        "order": 7,
        "width": "8",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 620,
        "y": 600,
        "wires": [
            [
                "0ce44df1c10d9080"
            ]
        ]
    },
    {
        "id": "904fda9e7b4f731b",
        "type": "ui_switch",
        "z": "a74334d56276c4c0",
        "d": true,
        "name": "",
        "label": "switch 10",
        "tooltip": "",
        "group": "102c64759ace5093",
        "order": 8,
        "width": "8",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 620,
        "y": 680,
        "wires": [
            [
                "6a4fa065758a17ad"
            ]
        ]
    },
    {
        "id": "ae0d443a3995bc50",
        "type": "victron-output-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/10/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/10/State",
            "type": "enum",
            "name": "Venus relay 11 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 860,
        "y": 760,
        "wires": []
    },
    {
        "id": "59d8b7cfa765bc6d",
        "type": "victron-input-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/10/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Relay/10/State",
            "type": "enum",
            "name": "Venus relay 11 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 240,
        "y": 760,
        "wires": [
            [
                "b231d76a8e197824"
            ]
        ]
    },
    {
        "id": "1b9506ed55e598f4",
        "type": "victron-input-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/11/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Relay/11/State",
            "type": "enum",
            "name": "Venus relay 12 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 240,
        "y": 840,
        "wires": [
            [
                "f768f8fb2e508bbf"
            ]
        ]
    },
    {
        "id": "fc457ce4034c72dc",
        "type": "victron-output-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/11/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/11/State",
            "type": "enum",
            "name": "Venus relay 12 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 860,
        "y": 840,
        "wires": []
    },
    {
        "id": "c15bfbb39118a998",
        "type": "victron-input-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/12/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Relay/12/State",
            "type": "enum",
            "name": "Venus relay 13 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 240,
        "y": 920,
        "wires": [
            [
                "09d06086c5aaf442"
            ]
        ]
    },
    {
        "id": "5e020eacc5fd3eda",
        "type": "victron-input-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/13/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Relay/13/State",
            "type": "enum",
            "name": "Venus relay 14 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 240,
        "y": 1000,
        "wires": [
            [
                "dec7e559ad680136"
            ]
        ]
    },
    {
        "id": "7d8eb971fe3cc313",
        "type": "victron-output-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/12/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/12/State",
            "type": "enum",
            "name": "Venus relay 13 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 860,
        "y": 920,
        "wires": []
    },
    {
        "id": "c0c0ae2014dbb1b8",
        "type": "victron-output-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/13/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/13/State",
            "type": "enum",
            "name": "Venus relay 14 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 860,
        "y": 1000,
        "wires": []
    },
    {
        "id": "943dd85e51a1568c",
        "type": "victron-input-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/14/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Relay/14/State",
            "type": "enum",
            "name": "Venus relay 15 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 240,
        "y": 1080,
        "wires": [
            [
                "dd1ffa3144a99af1"
            ]
        ]
    },
    {
        "id": "88bba9e577852155",
        "type": "victron-input-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/15/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Relay/15/State",
            "type": "enum",
            "name": "Venus relay 16 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 240,
        "y": 1160,
        "wires": [
            [
                "8ba8f6221eb4e6f3"
            ]
        ]
    },
    {
        "id": "c5495eb4fa1cb8f9",
        "type": "victron-input-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/16/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Relay/16/State",
            "type": "enum",
            "name": "Venus relay 17 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 240,
        "y": 1240,
        "wires": [
            [
                "fe7999df742b852b"
            ]
        ]
    },
    {
        "id": "08459fc23e78a444",
        "type": "victron-input-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/17/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Relay/17/State",
            "type": "enum",
            "name": "Venus relay 18 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 240,
        "y": 1320,
        "wires": [
            [
                "90e72bcabbe18d6d"
            ]
        ]
    },
    {
        "id": "d0ebc7d3a84f1dbb",
        "type": "victron-output-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/14/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/14/State",
            "type": "enum",
            "name": "Venus relay 15 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 860,
        "y": 1080,
        "wires": []
    },
    {
        "id": "7e8a4ff146d1745b",
        "type": "victron-output-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/15/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/15/State",
            "type": "enum",
            "name": "Venus relay 16 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 860,
        "y": 1160,
        "wires": []
    },
    {
        "id": "84ba8c1449da5fda",
        "type": "victron-output-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/16/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/16/State",
            "type": "enum",
            "name": "Venus relay 17 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 860,
        "y": 1240,
        "wires": []
    },
    {
        "id": "d6723559579586b6",
        "type": "victron-output-relay",
        "z": "a74334d56276c4c0",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/17/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/17/State",
            "type": "enum",
            "name": "Venus relay 18 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 860,
        "y": 1320,
        "wires": []
    },
    {
        "id": "b231d76a8e197824",
        "type": "debounce",
        "z": "a74334d56276c4c0",
        "d": true,
        "time": "100",
        "name": "",
        "x": 480,
        "y": 760,
        "wires": [
            [
                "b1a65d7777a1c133"
            ]
        ]
    },
    {
        "id": "f768f8fb2e508bbf",
        "type": "debounce",
        "z": "a74334d56276c4c0",
        "d": true,
        "time": "100",
        "name": "",
        "x": 480,
        "y": 840,
        "wires": [
            [
                "ffdbaf75d5e9b33c"
            ]
        ]
    },
    {
        "id": "09d06086c5aaf442",
        "type": "debounce",
        "z": "a74334d56276c4c0",
        "d": true,
        "time": "100",
        "name": "",
        "x": 480,
        "y": 920,
        "wires": [
            [
                "200aa0955eb5ae01"
            ]
        ]
    },
    {
        "id": "dec7e559ad680136",
        "type": "debounce",
        "z": "a74334d56276c4c0",
        "d": true,
        "time": "100",
        "name": "",
        "x": 480,
        "y": 1000,
        "wires": [
            [
                "b9f1b3d7cbbe1486"
            ]
        ]
    },
    {
        "id": "dd1ffa3144a99af1",
        "type": "debounce",
        "z": "a74334d56276c4c0",
        "d": true,
        "time": "100",
        "name": "",
        "x": 480,
        "y": 1080,
        "wires": [
            [
                "7ace539c426e0d87"
            ]
        ]
    },
    {
        "id": "8ba8f6221eb4e6f3",
        "type": "debounce",
        "z": "a74334d56276c4c0",
        "d": true,
        "time": "100",
        "name": "",
        "x": 480,
        "y": 1160,
        "wires": [
            [
                "a4b1dd903e2178e6"
            ]
        ]
    },
    {
        "id": "fe7999df742b852b",
        "type": "debounce",
        "z": "a74334d56276c4c0",
        "d": true,
        "time": "100",
        "name": "",
        "x": 480,
        "y": 1240,
        "wires": [
            [
                "51d8f25c68fa6113"
            ]
        ]
    },
    {
        "id": "90e72bcabbe18d6d",
        "type": "debounce",
        "z": "a74334d56276c4c0",
        "d": true,
        "time": "100",
        "name": "",
        "x": 480,
        "y": 1320,
        "wires": [
            [
                "f770e8dd7d22988f"
            ]
        ]
    },
    {
        "id": "b1a65d7777a1c133",
        "type": "ui_switch",
        "z": "a74334d56276c4c0",
        "d": true,
        "name": "",
        "label": "switch 11",
        "tooltip": "",
        "group": "102c64759ace5093",
        "order": 9,
        "width": "8",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 620,
        "y": 760,
        "wires": [
            [
                "ae0d443a3995bc50"
            ]
        ]
    },
    {
        "id": "ffdbaf75d5e9b33c",
        "type": "ui_switch",
        "z": "a74334d56276c4c0",
        "d": true,
        "name": "",
        "label": "switch 12",
        "tooltip": "",
        "group": "102c64759ace5093",
        "order": 10,
        "width": "8",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 620,
        "y": 840,
        "wires": [
            [
                "fc457ce4034c72dc"
            ]
        ]
    },
    {
        "id": "200aa0955eb5ae01",
        "type": "ui_switch",
        "z": "a74334d56276c4c0",
        "d": true,
        "name": "",
        "label": "switch 13",
        "tooltip": "",
        "group": "102c64759ace5093",
        "order": 11,
        "width": "8",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 620,
        "y": 920,
        "wires": [
            [
                "7d8eb971fe3cc313"
            ]
        ]
    },
    {
        "id": "b9f1b3d7cbbe1486",
        "type": "ui_switch",
        "z": "a74334d56276c4c0",
        "d": true,
        "name": "",
        "label": "switch 14",
        "tooltip": "",
        "group": "102c64759ace5093",
        "order": 12,
        "width": "8",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 620,
        "y": 1000,
        "wires": [
            [
                "c0c0ae2014dbb1b8"
            ]
        ]
    },
    {
        "id": "7ace539c426e0d87",
        "type": "ui_switch",
        "z": "a74334d56276c4c0",
        "d": true,
        "name": "",
        "label": "switch 15",
        "tooltip": "",
        "group": "102c64759ace5093",
        "order": 13,
        "width": "8",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 620,
        "y": 1080,
        "wires": [
            [
                "d0ebc7d3a84f1dbb"
            ]
        ]
    },
    {
        "id": "a4b1dd903e2178e6",
        "type": "ui_switch",
        "z": "a74334d56276c4c0",
        "d": true,
        "name": "",
        "label": "switch 16",
        "tooltip": "",
        "group": "102c64759ace5093",
        "order": 14,
        "width": "8",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 620,
        "y": 1160,
        "wires": [
            [
                "7e8a4ff146d1745b"
            ]
        ]
    },
    {
        "id": "51d8f25c68fa6113",
        "type": "ui_switch",
        "z": "a74334d56276c4c0",
        "d": true,
        "name": "",
        "label": "switch 17",
        "tooltip": "",
        "group": "102c64759ace5093",
        "order": 15,
        "width": "8",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 620,
        "y": 1240,
        "wires": [
            [
                "84ba8c1449da5fda"
            ]
        ]
    },
    {
        "id": "f770e8dd7d22988f",
        "type": "ui_switch",
        "z": "a74334d56276c4c0",
        "d": true,
        "name": "",
        "label": "switch 18",
        "tooltip": "",
        "group": "102c64759ace5093",
        "order": 16,
        "width": "8",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 620,
        "y": 1320,
        "wires": [
            [
                "d6723559579586b6"
            ]
        ]
    },
    {
        "id": "6962f0289c6e8b6d",
        "type": "comment",
        "z": "d6753bbd127b03bd",
        "name": "Read Remote Relays Unit 1",
        "info": "",
        "x": 260,
        "y": 80,
        "wires": []
    },
    {
        "id": "d340f8125c553ce0",
        "type": "inject",
        "z": "d6753bbd127b03bd",
        "name": "Read Register 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "8a2d5bc66c3d0856"
            ]
        ]
    },
    {
        "id": "8a2d5bc66c3d0856",
        "type": "function",
        "z": "d6753bbd127b03bd",
        "name": "Read_Val",
        "func": "msg.payload = {\n    'fc' : 3,\n    'unitid' : 1,\n    'address' : 1,\n    'quantity' : 1\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            [
                "2ec28f03121139ab"
            ]
        ]
    },
    {
        "id": "5166ce5f592eb6b6",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "service": "com.victronenergy.system/0",
        "path": "/Relay/2/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/2/State",
            "type": "enum",
            "name": "Venus relay 3 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "0",
        "name": "",
        "onlyChanges": true,
        "x": 1100,
        "y": 260,
        "wires": []
    },
    {
        "id": "d9e54fc19444f62f",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "service": "com.victronenergy.system/0",
        "path": "/Relay/3/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/3/State",
            "type": "enum",
            "name": "Venus relay 4 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "0",
        "name": "",
        "onlyChanges": true,
        "x": 1100,
        "y": 300,
        "wires": []
    },
    {
        "id": "21e1aa4a8871a62a",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "service": "com.victronenergy.system/0",
        "path": "/Relay/4/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/4/State",
            "type": "enum",
            "name": "Venus relay 5 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "0",
        "name": "",
        "onlyChanges": true,
        "x": 1100,
        "y": 340,
        "wires": []
    },
    {
        "id": "a8c1ba07575cb309",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "service": "com.victronenergy.system/0",
        "path": "/Relay/5/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/5/State",
            "type": "enum",
            "name": "Venus relay 6 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "0",
        "name": "",
        "onlyChanges": true,
        "x": 1100,
        "y": 380,
        "wires": []
    },
    {
        "id": "7f2a38f3671d0c48",
        "type": "link in",
        "z": "d6753bbd127b03bd",
        "name": "link in Buffer",
        "links": [
            "5c15692d787d9f11"
        ],
        "x": 155,
        "y": 560,
        "wires": [
            [
                "5009f5a36af10646"
            ]
        ]
    },
    {
        "id": "5c15692d787d9f11",
        "type": "link out",
        "z": "d6753bbd127b03bd",
        "name": "link out Buffer",
        "mode": "link",
        "links": [
            "7f2a38f3671d0c48"
        ],
        "x": 935,
        "y": 200,
        "wires": []
    },
    {
        "id": "5009f5a36af10646",
        "type": "rbe",
        "z": "d6753bbd127b03bd",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 270,
        "y": 560,
        "wires": [
            [
                "ed17ed1fdba3eee5"
            ]
        ]
    },
    {
        "id": "5cac9cc46503125b",
        "type": "debug",
        "z": "d6753bbd127b03bd",
        "name": "debug 30",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 160,
        "wires": []
    },
    {
        "id": "84ccf89f923f4a57",
        "type": "debug",
        "z": "d6753bbd127b03bd",
        "name": "debug 66",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "c6f5295d6e9af48b",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/6/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/6/State",
            "type": "enum",
            "name": "Venus relay 7 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 1100,
        "y": 420,
        "wires": []
    },
    {
        "id": "fcdd6ea6c166b003",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/7/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/7/State",
            "type": "enum",
            "name": "Venus relay 8 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 1100,
        "y": 460,
        "wires": []
    },
    {
        "id": "807207aa4b42b9f5",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/8/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/8/State",
            "type": "enum",
            "name": "Venus relay 9 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 1100,
        "y": 500,
        "wires": []
    },
    {
        "id": "27217c74b4743969",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/9/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/9/State",
            "type": "enum",
            "name": "Venus relay 10 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 1100,
        "y": 540,
        "wires": []
    },
    {
        "id": "2ec28f03121139ab",
        "type": "modbus-flex-getter",
        "z": "d6753bbd127b03bd",
        "name": "Relay Status (bin)",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "98970a3050192af7",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 610,
        "y": 200,
        "wires": [
            [],
            [
                "6bf93292156f0fdf",
                "5cac9cc46503125b"
            ]
        ]
    },
    {
        "id": "6bf93292156f0fdf",
        "type": "buffer-parser",
        "z": "d6753bbd127b03bd",
        "name": "",
        "data": "payload[\"data\"]",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "8bit",
                "name": "0",
                "offset": 1,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "output",
        "multipleResult": true,
        "fanOutMultipleResult": true,
        "setTopic": false,
        "outputs": 1,
        "x": 830,
        "y": 200,
        "wires": [
            [
                "5c15692d787d9f11"
            ]
        ]
    },
    {
        "id": "ed17ed1fdba3eee5",
        "type": "buffer-parser",
        "z": "d6753bbd127b03bd",
        "name": "",
        "data": "payload[\"0\"].bits",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "item1",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item2",
                "offset": 3,
                "length": 1,
                "offsetbit": 1,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item3",
                "offset": 5,
                "length": 1,
                "offsetbit": 2,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item4",
                "offset": 7,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item5",
                "offset": 9,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item6",
                "offset": 11,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item7",
                "offset": 13,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item8",
                "offset": 15,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "output",
        "multipleResult": true,
        "fanOutMultipleResult": true,
        "setTopic": true,
        "outputs": 8,
        "x": 430,
        "y": 560,
        "wires": [
            [
                "84ccf89f923f4a57",
                "5166ce5f592eb6b6"
            ],
            [
                "d9e54fc19444f62f"
            ],
            [
                "21e1aa4a8871a62a"
            ],
            [
                "a8c1ba07575cb309"
            ],
            [
                "c6f5295d6e9af48b"
            ],
            [
                "fcdd6ea6c166b003"
            ],
            [
                "807207aa4b42b9f5"
            ],
            [
                "27217c74b4743969"
            ]
        ]
    },
    {
        "id": "c3c771e7937dcb24",
        "type": "comment",
        "z": "d6753bbd127b03bd",
        "name": "Read Remote Relays Unit 2",
        "info": "",
        "x": 220,
        "y": 940,
        "wires": []
    },
    {
        "id": "a24245d88e4c8d6b",
        "type": "inject",
        "z": "d6753bbd127b03bd",
        "d": true,
        "name": "Read Register 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1060,
        "wires": [
            [
                "fcb0bda848dab454"
            ]
        ]
    },
    {
        "id": "fcb0bda848dab454",
        "type": "function",
        "z": "d6753bbd127b03bd",
        "d": true,
        "name": "Read_Val",
        "func": "msg.payload = {\n    'fc' : 3,\n    'unitid' : 2,\n    'address' : 1,\n    'quantity' : 1\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1060,
        "wires": [
            [
                "f892642a838ee1e4"
            ]
        ]
    },
    {
        "id": "3bc9a43e25b9cb5a",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/2/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/2/State",
            "type": "enum",
            "name": "Venus relay 3 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "0",
        "name": "",
        "onlyChanges": true,
        "x": 1060,
        "y": 1120,
        "wires": []
    },
    {
        "id": "43da35d13e1f7885",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/3/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/3/State",
            "type": "enum",
            "name": "Venus relay 4 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "0",
        "name": "",
        "onlyChanges": true,
        "x": 1060,
        "y": 1160,
        "wires": []
    },
    {
        "id": "c227f6c68591cabb",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/4/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/4/State",
            "type": "enum",
            "name": "Venus relay 5 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "0",
        "name": "",
        "onlyChanges": true,
        "x": 1060,
        "y": 1200,
        "wires": []
    },
    {
        "id": "e474c7b2cbc95e69",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/5/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/5/State",
            "type": "enum",
            "name": "Venus relay 6 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "0",
        "name": "",
        "onlyChanges": true,
        "x": 1060,
        "y": 1240,
        "wires": []
    },
    {
        "id": "5fdb82b82973239d",
        "type": "link in",
        "z": "d6753bbd127b03bd",
        "d": true,
        "name": "link in Buffer",
        "links": [
            "95be1ecb73eb0123"
        ],
        "x": 135,
        "y": 1200,
        "wires": [
            [
                "7542255783513618"
            ]
        ]
    },
    {
        "id": "95be1ecb73eb0123",
        "type": "link out",
        "z": "d6753bbd127b03bd",
        "d": true,
        "name": "link out Buffer",
        "mode": "link",
        "links": [
            "5fdb82b82973239d"
        ],
        "x": 895,
        "y": 1060,
        "wires": []
    },
    {
        "id": "7542255783513618",
        "type": "rbe",
        "z": "d6753bbd127b03bd",
        "d": true,
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 250,
        "y": 1200,
        "wires": [
            [
                "6aca8f3c13bb8af0"
            ]
        ]
    },
    {
        "id": "dbb6c9a3af734e34",
        "type": "debug",
        "z": "d6753bbd127b03bd",
        "d": true,
        "name": "debug 67",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 1020,
        "wires": []
    },
    {
        "id": "bd0b5a8ef6b627e7",
        "type": "debug",
        "z": "d6753bbd127b03bd",
        "d": true,
        "name": "debug 68",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 1120,
        "wires": []
    },
    {
        "id": "8f01ecb134d16402",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/6/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/6/State",
            "type": "enum",
            "name": "Venus relay 7 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 1060,
        "y": 1280,
        "wires": []
    },
    {
        "id": "e2d00bb28a84befa",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/7/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/7/State",
            "type": "enum",
            "name": "Venus relay 8 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 1060,
        "y": 1320,
        "wires": []
    },
    {
        "id": "fb5a973aa46c67c3",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/8/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/8/State",
            "type": "enum",
            "name": "Venus relay 9 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 1060,
        "y": 1360,
        "wires": []
    },
    {
        "id": "01f28f6019d19bc7",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/9/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/9/State",
            "type": "enum",
            "name": "Venus relay 10 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 1060,
        "y": 1400,
        "wires": []
    },
    {
        "id": "f892642a838ee1e4",
        "type": "modbus-flex-getter",
        "z": "d6753bbd127b03bd",
        "d": true,
        "name": "Relay Status (bin)",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "d37888019fd2f3c0",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 570,
        "y": 1060,
        "wires": [
            [],
            [
                "14a1b28e3ee19c6d",
                "dbb6c9a3af734e34"
            ]
        ]
    },
    {
        "id": "14a1b28e3ee19c6d",
        "type": "buffer-parser",
        "z": "d6753bbd127b03bd",
        "d": true,
        "name": "",
        "data": "payload[\"data\"]",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "8bit",
                "name": "0",
                "offset": 1,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "output",
        "multipleResult": true,
        "fanOutMultipleResult": true,
        "setTopic": false,
        "outputs": 1,
        "x": 790,
        "y": 1060,
        "wires": [
            [
                "95be1ecb73eb0123"
            ]
        ]
    },
    {
        "id": "6aca8f3c13bb8af0",
        "type": "buffer-parser",
        "z": "d6753bbd127b03bd",
        "d": true,
        "name": "",
        "data": "payload[\"0\"].bits",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "item1",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item2",
                "offset": 3,
                "length": 1,
                "offsetbit": 1,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item3",
                "offset": 5,
                "length": 1,
                "offsetbit": 2,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item4",
                "offset": 7,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item5",
                "offset": 9,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item6",
                "offset": 11,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item7",
                "offset": 13,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item8",
                "offset": 15,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "output",
        "multipleResult": true,
        "fanOutMultipleResult": true,
        "setTopic": true,
        "outputs": 8,
        "x": 410,
        "y": 1200,
        "wires": [
            [
                "bd0b5a8ef6b627e7",
                "3bc9a43e25b9cb5a"
            ],
            [
                "43da35d13e1f7885"
            ],
            [
                "c227f6c68591cabb"
            ],
            [
                "e474c7b2cbc95e69"
            ],
            [
                "8f01ecb134d16402"
            ],
            [
                "e2d00bb28a84befa"
            ],
            [
                "fb5a973aa46c67c3"
            ],
            [
                "01f28f6019d19bc7"
            ]
        ]
    },
    {
        "id": "1240a130c244d7be",
        "type": "comment",
        "z": "d6753bbd127b03bd",
        "name": "Read Remote Relays Unit 3",
        "info": "",
        "x": 240,
        "y": 1460,
        "wires": []
    },
    {
        "id": "b11be4420bb095ae",
        "type": "inject",
        "z": "d6753bbd127b03bd",
        "d": true,
        "name": "Read Register 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1580,
        "wires": [
            [
                "05687010a26b1d1b"
            ]
        ]
    },
    {
        "id": "05687010a26b1d1b",
        "type": "function",
        "z": "d6753bbd127b03bd",
        "d": true,
        "name": "Read_Val",
        "func": "msg.payload = {\n    'fc' : 3,\n    'unitid' : 3,\n    'address' : 1,\n    'quantity' : 1\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1580,
        "wires": [
            [
                "a1e310bfc9e30466"
            ]
        ]
    },
    {
        "id": "a84196e0c14f93ec",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/2/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/2/State",
            "type": "enum",
            "name": "Venus relay 3 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "0",
        "name": "",
        "onlyChanges": true,
        "x": 1080,
        "y": 1640,
        "wires": []
    },
    {
        "id": "c1177f01af2c5b18",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/3/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/3/State",
            "type": "enum",
            "name": "Venus relay 4 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "0",
        "name": "",
        "onlyChanges": true,
        "x": 1080,
        "y": 1680,
        "wires": []
    },
    {
        "id": "9c29b36b110bbdf4",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/4/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/4/State",
            "type": "enum",
            "name": "Venus relay 5 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "0",
        "name": "",
        "onlyChanges": true,
        "x": 1080,
        "y": 1720,
        "wires": []
    },
    {
        "id": "61a46aea832acf05",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/5/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/5/State",
            "type": "enum",
            "name": "Venus relay 6 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "0",
        "name": "",
        "onlyChanges": true,
        "x": 1080,
        "y": 1760,
        "wires": []
    },
    {
        "id": "26b2e89fd6a6dd10",
        "type": "link in",
        "z": "d6753bbd127b03bd",
        "d": true,
        "name": "link in Buffer",
        "links": [
            "04db10cc53daf81b"
        ],
        "x": 155,
        "y": 1720,
        "wires": [
            [
                "0508a85dc3997786"
            ]
        ]
    },
    {
        "id": "04db10cc53daf81b",
        "type": "link out",
        "z": "d6753bbd127b03bd",
        "d": true,
        "name": "link out Buffer",
        "mode": "link",
        "links": [
            "26b2e89fd6a6dd10"
        ],
        "x": 915,
        "y": 1580,
        "wires": []
    },
    {
        "id": "0508a85dc3997786",
        "type": "rbe",
        "z": "d6753bbd127b03bd",
        "d": true,
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 270,
        "y": 1720,
        "wires": [
            [
                "f8689980b85a5eac"
            ]
        ]
    },
    {
        "id": "6310088ce6295daa",
        "type": "debug",
        "z": "d6753bbd127b03bd",
        "d": true,
        "name": "debug 69",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 1540,
        "wires": []
    },
    {
        "id": "306524898c931539",
        "type": "debug",
        "z": "d6753bbd127b03bd",
        "d": true,
        "name": "debug 70",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1640,
        "wires": []
    },
    {
        "id": "cfacb27f3b425944",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/6/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/6/State",
            "type": "enum",
            "name": "Venus relay 7 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 1080,
        "y": 1800,
        "wires": []
    },
    {
        "id": "446487c78bfe4941",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/7/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/7/State",
            "type": "enum",
            "name": "Venus relay 8 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 1080,
        "y": 1840,
        "wires": []
    },
    {
        "id": "de8a77352a401f55",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/8/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/8/State",
            "type": "enum",
            "name": "Venus relay 9 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 1080,
        "y": 1880,
        "wires": []
    },
    {
        "id": "ded4f63dab40bc30",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/9/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/9/State",
            "type": "enum",
            "name": "Venus relay 10 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 1080,
        "y": 1920,
        "wires": []
    },
    {
        "id": "a1e310bfc9e30466",
        "type": "modbus-flex-getter",
        "z": "d6753bbd127b03bd",
        "d": true,
        "name": "Relay Status (bin)",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "75e357c720cdc4e6",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 590,
        "y": 1580,
        "wires": [
            [],
            [
                "8c32821b5315e0dc",
                "6310088ce6295daa"
            ]
        ]
    },
    {
        "id": "8c32821b5315e0dc",
        "type": "buffer-parser",
        "z": "d6753bbd127b03bd",
        "d": true,
        "name": "",
        "data": "payload[\"data\"]",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "8bit",
                "name": "0",
                "offset": 1,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "output",
        "multipleResult": true,
        "fanOutMultipleResult": true,
        "setTopic": false,
        "outputs": 1,
        "x": 810,
        "y": 1580,
        "wires": [
            [
                "04db10cc53daf81b"
            ]
        ]
    },
    {
        "id": "f8689980b85a5eac",
        "type": "buffer-parser",
        "z": "d6753bbd127b03bd",
        "d": true,
        "name": "",
        "data": "payload[\"0\"].bits",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "item1",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item2",
                "offset": 3,
                "length": 1,
                "offsetbit": 1,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item3",
                "offset": 5,
                "length": 1,
                "offsetbit": 2,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item4",
                "offset": 7,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item5",
                "offset": 9,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item6",
                "offset": 11,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item7",
                "offset": 13,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "item8",
                "offset": 15,
                "length": 1,
                "offsetbit": 3,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "output",
        "multipleResult": true,
        "fanOutMultipleResult": true,
        "setTopic": true,
        "outputs": 8,
        "x": 430,
        "y": 1720,
        "wires": [
            [
                "306524898c931539",
                "a84196e0c14f93ec"
            ],
            [
                "c1177f01af2c5b18"
            ],
            [
                "9c29b36b110bbdf4"
            ],
            [
                "61a46aea832acf05"
            ],
            [
                "cfacb27f3b425944"
            ],
            [
                "446487c78bfe4941"
            ],
            [
                "de8a77352a401f55"
            ],
            [
                "ded4f63dab40bc30"
            ]
        ]
    },
    {
        "id": "3f831d4fcbd4a729",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/10/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/10/State",
            "type": "enum",
            "name": "Venus relay 11 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 1100,
        "y": 580,
        "wires": []
    },
    {
        "id": "c5e2166e3362147c",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/11/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/11/State",
            "type": "enum",
            "name": "Venus relay 12 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 1100,
        "y": 620,
        "wires": []
    },
    {
        "id": "27a57e82db99ef50",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/12/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/12/State",
            "type": "enum",
            "name": "Venus relay 13 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 1100,
        "y": 660,
        "wires": []
    },
    {
        "id": "b9ad08caa7d806c6",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/13/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/13/State",
            "type": "enum",
            "name": "Venus relay 14 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 1100,
        "y": 700,
        "wires": []
    },
    {
        "id": "447e1871a8bb5255",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/14/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/14/State",
            "type": "enum",
            "name": "Venus relay 15 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 1100,
        "y": 740,
        "wires": []
    },
    {
        "id": "aaf61c9c7263268f",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/15/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/15/State",
            "type": "enum",
            "name": "Venus relay 16 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 1100,
        "y": 780,
        "wires": []
    },
    {
        "id": "9745aba31d7c3d7c",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/16/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/16/State",
            "type": "enum",
            "name": "Venus relay 17 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 1100,
        "y": 820,
        "wires": []
    },
    {
        "id": "b03400b55ac88ca9",
        "type": "victron-output-relay",
        "z": "d6753bbd127b03bd",
        "d": true,
        "service": "com.victronenergy.system/0",
        "path": "/Relay/17/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus device"
        },
        "pathObj": {
            "path": "/Relay/17/State",
            "type": "enum",
            "name": "Venus relay 18 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 1100,
        "y": 860,
        "wires": []
    },
    {
        "id": "d8ded95d3c77230a",
        "type": "comment",
        "z": "d6753bbd127b03bd",
        "name": "open me for instructions",
        "info": "This flow only supports modules connected via TCP, not rs485.\n\nNODE read_val function: set unit number to match dingtian module number for each module. (1, 2 or 3)\n\nNODE relay_status (bin): set the appropriate ip address for each module. Select type:TCP and TCP type:TELNET. leave unit ID at 1.\n\nFor each module being read, enable the appropriate number of relay nodes, and set the relay numbers accordingly. (example: Two units with 4 relays each you would enable 4 relays for unit one, numbers 3-6. Enable 4 relays for unit two, 7-10.)",
        "x": 260,
        "y": 120,
        "wires": []
    }
]